.about {
  text-align: center;
  padding: 30px 0;
  background-color: var(--background-black-color);
}
@media screen and (min-width: 768px) {
  .about {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 60px 0;
  }
}

.aboutWrap {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .aboutWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .aboutWrap {
    gap: 50px;
  }
}

.aboutWrapBox {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .aboutWrapBox {
    width: 321px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .aboutWrapBox {
    width: 497px;
  }
}

.aboutWrapBoxTitle {
  font-family: var(--PermanentMarker);
  font-size: 28px;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 20px;
  color: var(--color-yellow);
}
@media screen and (min-width: 1440px) {
  .aboutWrapBoxTitle {
    font-size: 36px;
  }
}

.aboutWrapBoxItem {
  font-family: var(--Poppins);
  font-size: 14px;
  line-height: normal;
  text-align: left;
  color: var(--color-white);
}
@media screen and (min-width: 1440px) {
  .aboutWrapBoxItem {
    font-size: 16px;
  }
}

/* SKILLS */

.aboutSkillsTitle {
  font-family: var(--Poppins);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  color: var(--color-white);
}
@media screen and (min-width: 1440px) {
  .aboutSkillsTitle {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.aboutSkillsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .aboutSkillsGrid {
    gap: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .aboutSkillsGrid {
    gap: 25px;
  }
}

.aboutSkillsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 30px) / 2);
  border: solid 1px #3e3c3c;
  box-shadow: 0 1px 4px 0 var(--color-yellow);
  border-radius: 5px;
  padding-bottom: 5px;
  color: var(--color-white);
}
@media screen and (min-width: 480px) {
  .aboutSkillsList {
    width: 225px;
  }
}
@media screen and (min-width: 768px) {
  .aboutSkillsList {
    width: 210px;
  }
}
@media screen and (min-width: 1440px) {
  .aboutSkillsList {
    width: 340px;
  }
}
.aboutSkillsList:hover {
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  cursor: pointer;
}

.aboutSkillsIcon {
  width: 70px;
  height: 83px;
  fill: var(--color-yellow);
}

.aboutSkillsIconCurrent {
  width: 70px;
  height: 83px;
  stroke: var(--color-yellow);
}
