.header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  background-color: var(--background-black-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 0;
  }
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .headerWrap {
    display: flex;
    justify-content: space-between;
  }
}

.headerLink {
  font-family: var(--PermanentMarker);
  line-height: normal;
  color: var(--color-yellow);
}

.headerButton {
  border: none;
  background-color: var(--background-black-color);
}
@media screen and (min-width: 768px) {
  .headerButton {
    display: none;
  }
}
.headerButton:hover,
.headerButton:focus,
.headerButton:active {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
 }

/* navigations */

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.navList {
  display: flex;
  gap: 35px;
}

.navListItem {
  font-family: var(--Poppins);
  line-height: normal;
  color: var(--color-white);
}
.navListItem:hover {
  color: var(--color-yellow);
}
.navListItem:focus {
  color: var(--color-yellow);
  outline: none;
}
